.activate#activate-block
    .container
        .activate-title Один шаг, чтобы воспользоваться сервисом на все 100%
        .activate-form-wrap
            .activate-form
                form
                    input(type="text" placeholder="Тип устройства")
                    input(type="text" placeholder="Марка и модель гаджета")
                    input(type="phone" placeholder="IMEI (S/N) устройства")
                    input(type="phone" placeholder="Номер договора")
                    input(type="text" placeholder="Фамилия")
                    input(type="text" placeholder="Имя")
                    input(type="text" placeholder="Отчество")
                    input(type="text" placeholder="Контактный телефон")
                    input(type="text" placeholder="e-mail магазина")
                    button.activate-button.red-button(type="submit") АКТИВИРОВАТЬ
            #activate-button-wrap.red-button АКТИВИРОВАТЬ