.activate
    .container
        .activate-title Один шаг, чтобы воспользоваться сервисом на все 100%
        .activate-form-wrap
            form.activate-form
                input(type="text" placeholder="№ договора")
                input(type="date" placeholder="Дата события")
                input(type="phone" placeholder="Контактный телефон")
                input(type="phone" placeholder="Телефон ответственного сотрудника")
                input(type="text" placeholder="Номер и адрес магазина, фиксирующего обращение")
                input(type="text" placeholder="Причина повреждения")
                input(type="textarea" placeholder="Комментарий" rows="3")
                button.activate-button(type="submit") АКТИВИРОВАТЬ

