.banner-wrap
    .banner
        .banner-description
            h1.banner-title#banner-title Сломался гаджет?
            div.banner-text#banner-text
                div Механическое повреждение
                div Контакт с водой
                div Гарантийная поломка
        .banner-detailed
            div.banner-text Получите выплату в течение 15 минут!
            button.button.red-button#activate-btn-scroll
                span АКТИВИРОВАТЬ
    #scroll_one_screen.banner-scroll-to-bottom
        .icon.icon-down-arrow
            svg
                use(xlink:href="#down-arrow")