footer.footer
    .container
        .footer-copiright
            .footer-copiright-icon
                a.icon.icon-pdf(target="_blank")
                    svg
                        use(xlink:href="#pdf")
            .footer-copiright-text Частина 2 Договору добровільного страхування майна (HIPROTECTION)
        .footer-is_questions Возникли вопросы?
        .footer-phone_us Позвоните нам:
        .footer-phone
            .footer-phone-icon
                a.icon.icon-phone(href="tel:0800309999")
                    svg
                        use(xlink:href="#phone_icon")
            .footer-phone-text 0 800 309 999