.header
    .header-logo.icon
        img(src="./img/hitechnic_logo-white.svg")
    .header-menu
        .header-menu-item
            a(href="#") Как это работает?
        .header-menu-item
            a(href="#") Активировать
        .header-menu-item
            a(href="#") Страховой случай
    .dropdown.header-dropdown
        input(type="checkbox" id="header-dropdown")
        a#nav-icon3(href="#" data-toggle="dropdown")
            span
            span
            span
            span
        .dropdown-menu
            .dropdown-menu-item
                a(href="#") Как это работает?
            .dropdown-menu-item
                a(href="#") Активировать
            .dropdown-menu-item
                a(href="#") Страховой случай
