.header
    .header-logo.icon
        img(src="./img/hitechnic_logo-white.svg")
    .header-menu
        .header-menu-item
            a#fullWork Как это работает?
        .header-menu-item
            a#fullActivate Активировать
        .header-menu-item
            a#fullRequest Страховой случай
    .dropdown.header-dropdown
        input(type="checkbox" id="header-dropdown")
        a#nav-icon3.nav-icon.humburger(href="#" data-toggle="dropdown")
            span
            span
            span
            span
        ul.dropdown-menu
            li.dropdown-menu-item
                a#smallWork Как это работает?
            li.dropdown-menu-item
                a#smallActivate Активировать
            li.dropdown-menu-item
                a#smallRequest Страховой случай