.instructions
    .container
        .instructions-title Как это работает?
        .instructions-list
            .instructions-list-item
                .instructions-top
                    .instructions-top-num 01.
                    .instructions-top-step.icon
                        img(src="./img/eldorado_step_1.png")
                .instructions-bottom
                    .instructions-bottom-title Активируйте сервис
                    .instructions-bottom-text.
                        и сохраните коробку и зарядное устройство, чек об оплате и гарантийный талон, договор страхования
            .instructions-list-item
                .instructions-top
                    .instructions-top-num 02.
                    .instructions-top-step.icon
                        img(src="./img/eldorado_step_2.png")
                .instructions-bottom
                    .instructions-bottom-title При наступлении
                    .instructions-bottom-text.
                        страхового случая, обратитесь в магазин «Эльдорадо»
            .instructions-list-item
                .instructions-top
                    .instructions-top-num 03.
                    .instructions-top-step.icon
                        img(src="./img/eldorado_step_3.png")
                .instructions-bottom
                    .instructions-bottom-title Возьмите с собой
                    .instructions-bottom-text.
                        поврежденный гаджет с коробкой и зарядным устройством, договор страхования и чек об оплате, гарантийный талон, а также Ваш паспорт и идентификационный код
            .instructions-list-item
                .instructions-top
                    .instructions-top-num 04.
                    .instructions-top-step.icon
                        img(src="./img/eldorado_step_4.png")
                .instructions-bottom
                    .instructions-bottom-title Получите выплату
                    .instructions-bottom-text.
                        в течение 15 минут и наслаждайтесь удобством! :)