.team#team
    .container
        .team-list
            .team-list-item
                .team-item-title Оформляйте сервис
                .team-item-icon.icon
                    img(src="./img/hitechnic_logo.svg")
            .team-list-item
                .team-item-title Эксклюзивно от страховой компании
                .team-item-icon.icon
                    img(src="./img/logo.svg")
            .team-list-item
                .team-item-title В сети магазинов бытовой техники
                .team-item-icon.icon
                    img(src="./img/logo_ua.svg")