$orange: #C0392B;
$blue: #2980B9;
$gray: #EEE;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin hover-style($color) {
	&:hover {
		background: lighten($color, 3%);
		color: $firmed;
	}
}

@mixin animation($content) {
	animation: $content;
	-moz-animation: $content;
	-webkit-animation: $content;
}

@mixin keyframes($name) {
	@keyframes #{$name} {
		@content;
	}

	@-moz-keyframes #{$name} {
		@content;
	}

	@-webkit-keyframes #{$name} {
		@content;
	}
}

.dropdown {
	position: relative;

	a {
		text-decoration: none;
	}

	[data-toggle="dropdown"] {
		display: block;
		color: white;
		@include hover-style($orange);
		// text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
		padding: 10px;
	}

	&>.dropdown-menu {
		// max-height: 0;
		overflow: hidden;
		@include ul-nostyle;
		transition: (max-width .6s ease-out);
		// animation: (hideAnimation .4s ease-out);
		transform: scaleX(0);
		position: fixed;
		right: 0;
		top: 0;
		width: 70vw;
		height: 100vh;
		background: #00344D;

		flex-direction: column;
		padding-top: 150px;
		padding-right: 20px;
		text-align: right;
		font-size: 22px;
		li {
			padding: 0;
			margin-bottom: 10px;
			a {
				display: block;
				color: #8DABB8;
				// background: $gray;
				@include hover-style(#00344D);
				// text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
				padding: 10px 10px;
			}
		}
	}

	&>input[type="checkbox"] {
		opacity: 0;
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 999 !important;

		&:checked~.dropdown-menu {
			//   max-height: 9999px;

			display: block;
			transform: (scaleX(1));
			animation: (showAnimation .5s ease-in-out);
			transition: (max-height 2s ease-in-out);
		}

		&:checked+a[data-toggle="dropdown"] {
			&:before {
				transform: (rotate(-180deg));
				transition: (transform .6s);
			}
		}
	}
}

@include keyframes(showAnimation) {
	0% {
		transform: (scaleX(0.1));
	}

	40% {
		transform: (scaleX(1.00));
	}

	60% {
		transform: (scaleX(0.99));
	}

	80% {
		transform: (scaleX(1.00));
	}

	100% {
		transform: (scaleX(0.99));
	}

	80% {
		transform: (scaleX(1.00));
	}

	100% {
		transform: (scaleX(1));
	}
}

@include keyframes(hideAnimation) {
	0% {
		transform: (scaleX(1));
	}

	60% {
		transform: (scaleX(0.99));
	}

	80% {
		transform: (scaleX(1.00));
	}

	100% {
		transform: (scaleX(0));
	}
}