.activate
    padding: 30px 30px 80px
    background: url('../img/4881.jpg')
    background-size: cover
    @include mobile
        padding: 40px 0px 70px
.activate-title
    font-weight: 800
    font-size: 40px
    text-align: center
    color: white
    margin-bottom: 80px
    @include tablet
        font-size: 34px
    @include mobile
        font-size: 24px
.activate-form-wrap
.activate-form
.activate-form-input
.activate-button