.instructions
    margin-bottom: 100px
.instructions-title
    font-weight: 800
    font-size: 40px
    text-align: center
    color: $firmed
    margin-bottom: 80px
    @include tablet
        font-size: 34px
        margin-bottom: 70px
    @include mobile
        font-size: 24px
.instructions-list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 70px 30px
    @include desktop
        grid-template-columns: repeat(2, 1fr)
        gap: 70px 40px
    @include mobile
        grid-template-columns: repeat(1, 1fr)

.instructions-list-item
    background: #EFF6F9
    padding: 20px 34px
    border-radius: 20px
.instructions-top
    display: flex
    position: relative
.instructions-top-num
    font-weight: 800
    font-size: 70px
    color: $firmed
    @include tablet
        font-size: 40px
.instructions-top-step
    position: absolute
    bottom: -35px
    right: -60px
    width: 200px
    @include tablet
        width: 150px
        bottom: -15px
        right: -30px

.instructions-bottom
.instructions-bottom-title
    font-size: 24px
    font-weight: 600
    color: #5d7b88
    margin-bottom: 10px
    @include tablet
        font-size: 18px
.instructions-bottom-text
    font-size: 18px
    @include tablet
        font-size: 14px
.instructions-list-item