.team
    padding-top: 125px
    margin-bottom: 150px
.team-list
    display: grid
    grid-template-columns: repeat(3, auto)
    gap: 1vh
    @include tablet
        grid-template-columns: 1fr

.team-list-item
    display: flex
    justify-content: space-between
    flex-direction: column
    @include tablet
        margin-bottom: 20px
.team-item-title
    text-align: center
    font-size: 24px
    color: #00344D
.team-item-icon
    text-align: center
    padding: 20px