extends ./pug/head
block title
	| Hitechnic
block contents
	include ./pug/header
	include ./pug/banner
	include ./pug/team
	include ./pug/instructions
	include ./pug/activate
	include ./pug/request
	include ./pug/footer
